{% extends 'base.html' %} {% block content%}


<div class="container w-75">
    <h1 class="mb-5">Tom's Drum Lessons</h1>
    <h2 class="h5 mb-3">Private 1-1 Drum Lessons in South West London</h2>
    <p class="h5 mb-3"><strong>LEARN - PLAY - PROGRESS</strong></p>
    <p class="h4 mb-5">Drums are <br> <strong>THE MOST FUN</strong><br> instrument you can play, not that we're
        biased or
        anything...
    </p>
</div>




<div class="wrapper text-left">
    <div style="padding:56.25% 0 0 0; position:relative;">
        <lite-vimeo videoid="389473070" videotitle="Tom Ainsworth - Part Time Love Drum Cover"></lite-vimeo>
        {% comment %} <iframe
            src="https://player.vimeo.com/video/389473070?h=79b0a922a6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
            title="Tom Ainsworth - Part Time Lover Drum Cover"></iframe> {% endcomment %}
    </div>
</div>



{% endblock %}

{% block scripts %}
{% load static%}
<script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>
{% comment %} <script src="https://player.vimeo.com/api/player.js"></script> {% endcomment %}
{% endblock %}
