{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Login{% endblock %}

{% block content %}

<h1 class="mb-3">Login</h1>

<p class="h3 mb-5">{% blocktrans %}Welcome back to Tom's Drum Lessons!
  <br>
  If you haven't created an account yet, head over to <a class="link-inline" href="{{ signup_url }}">Sign Up</a> to
  get
  started.{% endblocktrans %}
</p>


<div class="container w-50">
  <form class="login" method="POST" action="{% url 'account_login' %}">

    {% csrf_token %}
    {% load widget_tweaks %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% for field in form %}
    <div class="form-group p-2 {% if field.errors %} alert alert-danger {% endif %}">
      {{ field.errors }}

      {% if field.name == "remember" %}
      <div class="text-center">
        {{ field.label_tag}}
        {% render_field field class="p1" %}
      </div>
      {% else %}
      {{ field.label_tag}}
      {% render_field field class="form-control" %}

      {% endif %}
    </div>
    {% endfor %}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="text-center p-2">
      <button class="btn btn-primary btn-lg " type="submit">{% trans "Log In" %}</button>
    </div>

  </form>
</div>
{% endblock %}
