@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nanum+Gothic:wght@400;700&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
/*  Colours ================================================================= */

.text-white {
  color: #fff;
}

.text-grey {
  color: #a8a6a1;
}

.bg-grey {
  background-color: #434343bd;
}

.bg-black {
  background-color: black;
}

/* Containers ================================================================= */

#container-home {
  background-image: url('https://res.cloudinary.com/tom-s-drum-lessons/image/upload/v1655058476/Whole_Room-min_hayotb.jpg');
  background-color: rgba(2, 2, 2, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#container-about,
#container-faqs {
  background-color: black;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25% 0 0 0;
}

.wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.accordion > .card {
  background-color: black;
  border-bottom: 3px solid #a8a6a1;
  border-top: 3px solid #a8a6a1;
}
