{% extends 'base.html' %}
{% block content %}


<h1 class="mb-5">About Tom</h1>
<div class="row align-items-center">
    <div class="col-sm py-3">
        <p>
            Tom Ainsworth, is a professional educator based in Earlsfield, South West London. Tom grew up in South
            Yorkshire, where he began playing music in primary school, taking keyboard lessons. He built a strong
            foundation for rhythm, reading and timing, which later helped when, in 2008, he discovered
            drums.
        </p>
        <p>
            Tom - “It was love at first sight, unlike other instruments I tried, I never got bored of practising
            drums, there’s just something about bashing along to my favourite songs that was so addictive, I won’t
            ever lose that feeling!”

        </p>
    </div>
    <div class="col-sm py-3">
        <img class="img-fluid rounded"
            src="https://res.cloudinary.com/tom-s-drum-lessons/image/upload/v1655208503/about-image-1_dcrcje.jpg"
            alt="Tom Ainsworth smiling behind a drum kit">
    </div>
</div>
<div class="row align-items-center">
    <div class="col-sm py-3">
        <img class="img-fluid rounded"
            src="https://res.cloudinary.com/tom-s-drum-lessons/image/upload/v1655208503/about-image-2_cm2xku.jpg"
            alt="Tom Ainsworth playing drums with a student">

    </div>
    <div class="col-sm py-3">
        <p>
            Tom was fortunate enough to have private lessons with Mike Paley at Take2Academy, and after four years
            of dedication he moved to Coventry to study Music Performance at Coventry University, where he achieved
            a First Class BA Hons in 2015. It was here that he taught friends and colleagues, and really developed a
            passion for education.
        </p>
        <p>
            Hungry for more, Tom moved to London to undertake a Masters degree in Popular Music Performance at BIMM
            London, accredited by the University of West London in 2016, where he studied and performed with several
            amazing musicians, including Rhythm Magazine Contributor Erik Stams, and world class drummer Richard
            Spaven.
        </p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-sm py-3">
        <p>
            Since attaining his Masters degree Tom has opened Tom’s Drum Lessons where he gives weekly private
            lessons to students of all ages and experiences. Tom - “For me, there’s no greater feeling than seeing
            that lightbulb moment when a student ‘gets’ it! and I’m fortunate enough to experience this every week!”
        </p>
        <p>
            Tom’s teaching studio at Pirate Studios in Earlsfield includes 2 drum kits, one for both himself and
            the students. This is very rare in London, but makes a hugh difference for student progression.
        </p>
    </div>
    <div class="col-sm py-3">
        <img class="img-fluid rounded"
            src="https://res.cloudinary.com/tom-s-drum-lessons/image/upload/v1655210129/about-image-3_dkxsoo.jpg"
            alt="Over the shoulder view of Tom playing his drum kit">
    </div>
</div>

<hr>

{% endblock content %}
