{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container w-50">
    {% if reviewed %}
    <div class="alert alert-success">
        Your review is awaiting approval
    </div>
    {% else %}

    {% if user.is_authenticated %}
    <h1>Write a Review as {{ user.username }}</h1>
    <form method="post">
        {{ review_form | crispy }}
        {% csrf_token %}
        <button class="btn btn-success">Submit Review</button>
    </form>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}
