{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container w-50">

    {% if user.is_authenticated %}
    <h1>Write a Review as
        <br>
        {{ user.username }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ review_form | crispy }}
        <button class="btn btn-success btn-lg">Submit Review</button>
    </form>
    {% else %}
    <p><span class="link-inline"><a href="{% url 'account_login' %}">Login</a></span> to leave a review</p>
    {% endif %}
</div>
{% endblock content %}
