{% extends 'base.html' %}

{% block content %}
<h1>Reviews</h1>
<div class="row">
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for review in review_list %}
            <div class="col-md-4">
                <div class="card mb-4 bg-grey">
                    <div class="card-body">
                        <h2 class="card-title">{{ review.title }}</h2>
                        <p class="card-text">{{ review.body | safe }}</p>
                        <p class="author">Written by: {{ review.author }}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <div class="container text-center">
        <nav aria-lave="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% endif %}
</div>

{% endblock content %}
