{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container w-50">

    {% if user.is_authenticated %}
    <h1>Update your Review as {{ user.username }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class="btn btn-success btn-lg">Update Review</button>
    </form>
    {% else %}
    <p><span class="link-inline"><a href="{% url 'account_login' %}">Login</a></span> to update your review</p>
    {% endif %}
</div>
{% endblock content %}
