<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon"
            href="https://res.cloudinary.com/tom-s-drum-lessons/image/upload/v1654970859/favicon_krdaef.ico"
            sizes="any">
        <link rel="apple-touch-icon"
            href="https://res.cloudinary.com/tom-s-drum-lessons/image/upload/v1655056199/apple-touch-icon_htdnfj.png">
        <link rel="manifest"
            href="https://res.cloudinary.com/tom-s-drum-lessons/raw/upload/v1655056827/site_ouvkbg.webmanifest">
        <script src="https://kit.fontawesome.com/f81afa6388.js" crossorigin="anonymous"></script>
        <title>{{ title }} - TomsDrumLessons.com</title>
    </head>

    <body class='h100'>
        <nav class="navbar navbar-expand-lg bg-grey">
            <a class="navbar-brand text-white" href="{% url 'home' %}">TomsDrumLessons.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% with request.resolver_match.url_name as url_name %}
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
                <a class="nav-link{% if url_name == 'lessons' %}active{% endif %}" href="#">Lessons</a>
                <a class="nav-link {% if url_name == 'bookings' %}active{% endif %}"
                    href="{% url 'bookings' %}">Bookings</a>
                <a class="nav-link {% if url_name == 'find-me' %}active{% endif %}" href="#">Find Me</a>
                <a class="nav-link {% if url_name == 'transcriptions' %}active{% endif %}">Transcriptions</a>
                <a class="nav-link {% if url_name == 'faqs' %}active{% endif %}" href="{% url 'faqs' %}">FAQs</a>
                <a class="nav-link">Login</a>
                <a href="#" class="nav-link">Sign Up</a>
            </div>
            {% endwith %}
        </nav>

        <main class="container-fluid text-center text-white py-5" id="container-{{ title.lower }}">
            {% block content%} {%endblock%}
        </main>

        <footer class='container-fluid text-center bg-black text-grey pt-4 h100'>
            <div class="row">
                <div class="col-sm ">
                    <h4>Opening Hours</h4>
                    <p>Tuesday - Thursday
                        <br>
                        4pm - 10pm
                    </p>

                </div>
                <div class="col-sm">
                    <h4 class="mb-3">Contact</h4>

                    <p class="text-center ">
                        <a href="https://www.instagram.com/tomainsworthdrums/?hl=en" target="_blank"
                            aria-label="Link to Tom's Instagram page in a new tab"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a class="p-4" href="https://www.youtube.com/channel/UCBTnGEGrca1moSLHx92hFKw/featured"
                            target="_blank" aria-label="Tom's Youtube channel. Opens in a new tab"><i
                                class="fa-brands fa-youtube"></i></a>
                        <a href="mailto:info@tomsdrumlessons.com?subject=General Enquiry" target="_blank"
                            aria-label="Tom's email address, opens in a new tab"><i class="
              fa-solid fa-envelope"></i></a>
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Studio Address:</h4>
                    <p>
                        17 Lydden Road
                        <br>
                        Earlsfield
                        <br>
                        SW18 4LT
                    </p>

                </div>
            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
        </script>
        {% block scripts %}
        {% endblock scripts %}
    </body>

</html>
