<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Private 1-1 Drum Lessons in South West London" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon"
            href="https://res.cloudinary.com/tom-s-drum-lessons/image/upload/v1654970859/favicon_krdaef.ico"
            sizes="any">
        <link rel="apple-touch-icon"
            href="https://res.cloudinary.com/tom-s-drum-lessons/image/upload/v1655056199/apple-touch-icon_htdnfj.png">
        <link rel="manifest"
            href="https://res.cloudinary.com/tom-s-drum-lessons/raw/upload/v1655056827/site_ouvkbg.webmanifest">
        <title>{% if title %}{{ title }} {% else %} {% block head_title %}{% endblock %} {% endif %} -
            TomsDrumLessons.com</title>
    </head>

    <body class='h100'>
        <nav class="navbar navbar-dark navbar-expand-lg bg-grey">
            <a class="navbar-brand text-white" href="{% url 'home' %}">TomsDrumLessons.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% with request.resolver_match.url_name as url_name %}
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
                <a class="nav-link {% if url_name == 'bookings' %}active{% endif %}"
                    href="{% url 'bookings' %}">Bookings</a>
                <a class="nav-link {% if url_name == 'reviews' %}active{% endif %}"
                    href="{% url 'reviews' %}">Reviews</a>
                <a class="nav-link {% if url_name == 'faqs' %}active{% endif %}" href="{% url 'faqs' %}">FAQs</a>
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>

                {% else %}
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                {% endif %}

            </div>
            {% endwith %}
        </nav>

        <main class="container-fluid text-center text-white py-5"
            id="container-{% if title %}{{ title.lower }}{% else %}authentication{% endif %}">
            {% if messages %}
            <div class="container bg-grey rounded">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible fade show mb-0" id="msg" role="alert">
                            {{ message | safe }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <footer class='container-fluid text-center text-grey bg-black pt-4 h100'>
            <div class="row">
                <div class="col-sm ">
                    <h3>Opening Hours </h3>
                    <p> Tuesday - Thursday <br>
                        4 pm - 10 pm </p>
                </div>
                <div class="col-sm">
                    <h3 class="mb-3">Contact </h3>
                    <p>
                        <a class="p-2" href="https://www.instagram.com/tomainsworthdrums/?hl=en" target="_blank"
                            aria-label="Link to Tom's Instagram page in a new tab">
                            <i class="bi bi-instagram h5"></i>
                        </a>
                        <a class="p-2" href="https://www.youtube.com/channel/UCBTnGEGrca1moSLHx92hFKw/featured"
                            target="_blank" aria-label="Tom's Youtube channel. Opens in a new tab">
                            <i class="bi bi-youtube h5"></i>
                        </a>
                    </p>
                </div>
                <div class="col-sm">
                    <h3> Studio Address: </h3>
                    <p>
                        17 Lydden Road <br>
                        Earlsfield <br>
                        SW18 4 LT </p>
                </div>
            </div>
        </footer>


        {% block scripts %}
        {% endblock scripts %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous">
        </script>
        <script src=" {% static 'js/script.js' %}"></script>
    </body>

</html>
